.movie-card {
    border: 1px solid #f0f0f0;
    display: grid;
    grid-template-columns: .4fr .6fr;
    background-color: #FFFFFF;
    padding: 2px;
    position: relative;
    max-width: 450px;
    transition: box-shadow 0.3s ease;
}

.movie-card:hover {
    box-shadow: 4px 4px 15px #00000026;
}

@media (max-width: 900px) {
    .movie-card {
        grid-template-columns: 1fr;
    }
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-row: 1/6;
    text-align: left;
    margin-right: 3px;
}

@media (max-width: 900px) {
    .card-img {
        grid-row: 1/5;
        width: 130px;
        height: auto;
    }
}

@media (max-width: 450px) {
    .card-img {
        width: 100px;
        grid-row: 1/4;
    }
}

.card-title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (max-width: 450px) {
    .card-title {
        font-size: 14px;
        margin-bottom: 1px;
    }
}

.card-rating {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    border: 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: start;
}

.card-data {
    display: flex;
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 5px;
    font-size: 12px;
    align-self: start;
    justify-self: start;
}

.card-genre {
    grid-column: 2/4;
    grid-row: 3/4;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2px;
    color: rgba(0, 0, 0, 0.65);
    border-radius: 0;
    margin: 2px;
}

@media (max-width: 450px) {
    .card-genre{
        font-size: 8px;
        padding: 1px;
    }
}
.card-overview {
    grid-column: 2/4;
    grid-row: 4/5;
    font-size: 14px;
    align-self: stretch;
    justify-self: stretch;
}

@media (max-width: 900px) {
    .card-overview {
        font-size: 12px;

    }
}

@media (max-width: 450px) {
    .card-overview {
        font-size: 8px;
        grid-column: 1/4;
    }
}
.card-content{
    display: inline-block;
    margin-left: 4px;
}